<div class="menu">
    <div class="">
      <a class="navbar underline" href="/contact">contact</a>
    </div>
    <div>
      <a class="navbar underline" href="/cv">mon cv</a>
    </div>
    <div>
      <a class="navbar underline">qui sommes nous</a>
    </div>
    <div>
      <div class="dropdown navbar">
        <a class="dropbtn navbar underline" style="padding-top: 0;">nos domaines d'action</a>
        <div class="dropdown-content">
          <a href="/guidance">Guidance parentale</a>
          <a href="/enquete">Enquête sociale</a>
          <a href="/cpf">Formations/CPF</a>
          <a href="/dev-perso">Développement personnel</a>
        </div>
      </div>
    </div>
  </div>