<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/accueil.css" />
    <link rel="stylesheet" href="/css/cv.css" />
    <link rel="stylesheet" href="/fontawesome/css/all.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <title><%=subtitle%></title>
  </head>
  <body style="background: #dde1e7" ;>
    <%- include('./includes/navbar.ejs') %>

    <div class="center">
      <p id="cpf">
        Je pratique depuis de nombreuses années de la formation au près des
        professionnels du travail sociale (directrice de crèches, MJC, ASE…)
        Aujourd’hui mon dossier a été acceptés par la DREETS et en court
        d’habilitation data dock ce qui permettra aux associations,
        partenaires…de faire appel a leur CPF. Jusqu’à présent j’étais rémunéré
        par les fonds propre des partenaires, ce qui est toujours le cas
        aujourd’hui. Je vous joins quelques exemples de formation.
      </p>
    </div>
    <div class="center-cpf">
      <p class="cpf">
        Accompagnement à la scolarité : du coté des accompagnateurs aux cotés
        des familles Les enfants que vous avez sont majoritairement en
        difficultés par ce que les parents ne se sentent pas légitiment dans
        leurs compétences vis-à-vis de l’école. Il faut parvenir à leur donner
        certaines clés. Et on est ici encore sur l’importance du dialogue entre
        tous. On va notamment prendre le temps de discuter des progrès de
        l’enfant sur un jeu. Mais aussi les accompagner pour qu’ils
        s’investissent dans les a côtés de l’école : les emmener jusqu'à vous
        c’est déjà s’investir, ou les emmener à la bibliothèque Accompagner les
        parents dans le suivi de la scolarité des enfants Ici encore on est
        parfois limités quand la langue n’est pas la même. On trouve des
        stratagèmes et on ne reste pas bloqué la dessus. On evite « réussite »
        ou « echec ». Intergrer les parents dans le jeu et il faut qu’ils
        occupent le terrain, qu’ils occupent la cité. Les faire intervenir sans
        les mettre en difficulté. J’ai ma vision de ce qu’est l’accompagnement à
        la scolarité. Mais je ne sais pas comment vous la pratiquez ici. Donc
        n’hésitez pas à contredire mon propos si je suis trop en décalage avec
        votre façon de travailler. Car je ne pense pas qu’il y ait une bonne
        méthode, mais plutôt de bonnes attitudes et des réflexions à redynamiser
        régulièrement. On peut définir l’accompagnement à la scolarité comme un
        ensemble d’actions mené aux côtés de l’école. Ce n’est donc pas du
        rattrapage ou du soutien scolaire. Cette distinction très importante
        doit permettre à ce dispositif de prendre du recul et de se dégager par
        rapport à la réussite scolaire. On intervient dans ce cadre
        d’accompagnement pour offrir l’appui et les ressources dont l’enfant a
        besoin pour réussir à l’école. Vous êtes là comme support
        méthodologique. On contribue à le rendre acteur de ses apprentissages,
        on cherche à le conduire à l’autonomie dans son travail et à
        l’épanouissement dans son développement personnel. Ce qu’on cherche par
        cet accompagnement est de permettre à l’enfant de se construire un
        savoir-faire et de maîtriser des outils qui vont l’aider dans l’ensemble
        de ses apprentissages. C’est là que vous intervenez massivement puisque
        vous allez en quelque sorte lui apprendre à apprendre. On intervient
        donc en dehors du temps scolaire, mais en lien avec l’école, et en
        dehors de la maison, mais en lien avec les parents. Par cette place
        d’intermédiaire, la grande volonté de ces actions est de compenser les
        inégalités imputables au manque d’accompagnement éducatif et d’apports
        culturels qui pénalisent l’enfant dans ses apprentissages scolaires. Car
        on sait que les apprentissages, scolaires notamment, sont très
        étroitement liés aux stimulations dont bénéficiel’enfant. En plus des
        nombreuses stimulations, le bon développement émotionnel de l’enfant
        (c’est à dire les relations que l’enfant établit avec son environnement)
        favorise les acquisitions cognitives (ce qu’on nomme trop volontiers
        l’intelligence).Votre travail étant de solliciter les ressources et les
        compétences de l’enfant, vous allez agir sur deux notions fondamentales
        : l’une que l’on nomme les fonctions cognitives et je vais vous les
        définir) et l’autre plus connue qui est l’estime de soi. Concernant
        l’estime de soi, les animateurs de l’accompagnement à la scolarité comme
        je l’ai dit précédemment sont dégagés de l’exigence de résultats
        scolaires, au moins à court terme.Du coup, cela permet de se dégager de
        l’angoisse qu’elle génère. Ce préambule au travail effectué permet
        d’établir avec l’enfant une relation emprunte de patience et de
        bienveillance. Pour beaucoup d’enfants, les difficultés scolaires et
        surtout l’échec scolaire ont des conséquences sur l’estime de soi. Les
        émotions générées par les doutes que l’on a sur ses capacités paralysent
        l’acquisition de nouveaux savoirs, de compétences nouvelles.Plus on est
        en échec, moins on arrive à apprendre. On va alors plutôt proposer des
        activités renforçant l’estime de soi de l’enfant qui vont sortir du
        cadre classique des exercices scolaires, et sans reproduire une démarche
        scolaire. On lui montre qu’il peut réussir des choses pour ensuite
        l’engager sur un apprentissage. La relation vaalors s’appuyer sur de la
        communication et plus encore sur de la verbalisation. C’est à dire
        parler, mettre des mots sur ce qu’on fait, ce qu’on pense ! le bébé,
        quand il commence à marcher, à manipuler des objets, c’est l’entourage
        qui nomme, qui commente. Ca ne fait sens pour l’enfant que parce que ca
        fait sens pour l’entourage. Si on ne nomme pas que ceci est une table,
        l’enfant n’apprendra jamais que ceci est une table. E bien ces pareil
        avec ses enfants en difficultés. Si on ne met pas de mot sur ce qu’on
        fait, ca n’a aucun sens pour eux. Ce qui me permet d’enchainer et de
        vous montrer à quel point tout est lié et à quel point il est important
        de favoriser ces liens, ces connexions. Il y a une grande influence des
        capacités langagières sur le développement intellectuel ou capacités
        cognitivescar la verbalisation d’informations pertinentes aide à la
        représentions d’éléments clés de la situation c’est ce que je viens de
        vous dire, et permettent une distance psychologique entre l’individu et
        ses actions ce qui facilite le fonctionnement exécutif et permet de ne
        pas être sur un registre de l’émotionnel au moment de l’apprentissage.On
        comprend ici pourquoi des parents non francophones peuvent être alors en
        difficulté. Ils croient ne pas pouvoir intervenir car ils ne maitrisent
        pas le français. Or pour que l’enfant s’approprie le savoir, il doit
        d’abord l’expérimenter. Mais seul, un enfant ne va pas nécessairement
        faire les expériences suffisantes. Il faut l’accompagner et c’est la que
        tout le monde, y compris un parent limité à cause de la langue, ou parce
        que l’école ca n’etait pas son truc, peut avoir toute sa place. Donc en
        résumé : on doit parler et on doit jouer ! Beaucoup plus que ses
        qualifications, c'est-à-dire son niveau d’études, les qualités requises
        de l’accompagnateur sont l’écoute, la disponibilité et la capacité à
        établir des relations de confiance avec l’enfant. L’accompagnement à la
        scolarité doit donc proposer des activités diverses qui vont permettre
        aux enfants de prendre le temps de faire ces expériences, de se
        confronter à ses compétences pour ensuite leur permettre d’élaborer des
        savoirs plus larges. L’enjeu est de proposer aux enfants des situations
        concrètes et riches, qui seront ensuite transposées lors des situations
        artificielles qui se présentent à l’école. Je vais faire un détour un
        peu plus technique mais je pense essentiel pour comprendre tout
        l’intérêt du jeu. Notre cerveau est organisé comme un chef d’orchestre.
        Il va activer certaines fonctions quand nécessaire et en inhiber
        d’autres si elles sont inutiles, les mettre sous silence. Dans ces
        fonctions cognitives, indispensable dans notre quotidien, bien au-delà
        des apprentissages scolaires, on retrouve : l’attention, la mémoire de
        travail, l’inhibition (cognitive et motrice), la flexibilité, et la
        planification. Ce sont les 5 grandes fonctions qui régissent nos
        apprentissages. Et toutes ces fonctions, on les retrouve dans de
        nombreux jeux que l’on croit anodin mais qui ne le sont absolument pas.
        Commençons par l’attention. On distingue différents types d’attention :
        Vous comprenez donc, après tout ce charabia un peu technique, que par le
        jeu, on va favoriser son désir d’apprendre et valoriser ses compétences
        et ses acquisitions. Quand on propose une aide aux devoirs, la question
        à se poser pour intervenir est comment aider cet enfant à réussir dans
        sa mission d’élève ? Ca va donc etre une aide méthodologique,
        d’organisation notamment. Car encore une fois, si c’est la bazar sur la
        bureau, dans le cartable, c’est la bazar dans la tete. Donc on fait le
        ménage, on met de l’ordre. On va par exemple l’aider à utiliser son
        emploi du temps, lire son cahier de texte, préparer son cartable, et
        puis apprendre ses leçons en fonction des circonstances dans lesquelles
        elles seront récitées, lire les consignes des exercices donnés en
        fonction de la discipline à laquelle elles s’appliquent, Conflit socio
        cognitif : met en évidence l’influence positive des interactions
        sociales sur l’apprentissage. L’apprentissage entre pairs peut être
        supérieur, sous certaines conditions, à l’apprentissage seul ou face à
        un formateur car il suscite des confrontations de point de vue générant
        la remise en cause de représentations, et par conséquent l’émergence de
        connaissances nouvelles. Il invite les formateurs à favoriser les
        apprentissages coopératifs. Il permet une décentration par rapport à son
        point de vue de départ (la connaissance du point de vue des autres
        permet de se représenter autrement le problème). Il permet de recueillir
        des informations ou idées nouvelles, renforce l’implication et la
        motivation (le groupe favorise une certaine émulation), favorise
        l’apprentissage de compétences sociales (écoute active, empathie,
        argumentation…), renforce le sentiment d’efficacité personnelle (à
        plusieurs on a plus de chance d’y arriver !).
      </p>
    </div>
    <a href="/assets/formation.rar" id="formation"
      >cliquer ici si vous voulez en apprendre plus avec nos documents</a
    >
  </body>
</html>
