<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/accueil.css" />
    <link rel="stylesheet" href="/css/cv.css" />
    <link rel="stylesheet" href="/fontawesome/css/all.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <title><%=subtitle%></title>
  </head>
  <body style="background: #dde1e7" ;>
    <%- include('./includes/navbar.ejs') %>

    <div class="center">
      <h3 style="margin-top: 60px">Le devellopement personnel</h3>
    </div>
    <p style="width: 900px; margin: auto">
      Aujourd’hui c’est tout naturellement qu’au fil de toutes ces années de
      rencontre avec toutes ces familles, professionnelles, équipes de
      travailleurs sociaux et de psychologue que la notion du développement
      personnelle est venue a moi. Simplement car moi aussi j’ai usé de ces
      techniques pour moi-même et pour les autres, sans réellement savoir au
      début ce que c’était. Nous pouvons l’envisager aussi dans le cadre du CPF
      ou alors dans le cadre d(un accompagnement individuelle. Développement
      personnel
      <a
        style="color: black"
        href="https://g.co/kgs/5Pn8V8"
        target="_blank"
        rel="noopener noreferrer"
        >plus d'info</a
      >
    </p>
  </body>
</html>
