<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/accueil.css" />
    <link rel="stylesheet" href="/css/guidance.css" />
    <link rel="stylesheet" href="/css/cv.css" />
    <link rel="stylesheet" href="/fontawesome/css/all.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <title><%=subtitle%></title>
  </head>

  <body style="background: #dde1e7" ;>
    <%- include('./includes/navbar.ejs') %>
    <h1 class="titre">Les enquêtes sociales</h1>
    <div class="center">
      <a href="/assets/Enquête Sociale.docx" target="_blank" id="enquete-a">
        <p id="enquete">
          Article de Vincent Ricouleau Professeur de droit -Vietnam - Titulaire
          du CAPA - Expert en formation pour Avocats Sans Frontières - Titulaire
          du DU de Psychiatrie (Paris 5), du DU de Traumatismes Crâniens des
          enfants et des adolescents (Paris 6), du DU d\\’évaluation des
          traumatisés crâniens, (Versailles) et du DU de prise en charge des
          urgences médico-chirurgicales (Paris 5) Le numéro 132 de janvier 2015
          de INFOSTAT JUSTICE, exploitant les statistiques du Répertoire Général
          Civil, précise que les décisions des juges aux affaires familiales ont
          impacté près de 200.000 enfants en 2012. L’article 373-2-11 du Code
          civil dit que lorsque le juge aux affaires familiales se prononce sur
          les modalités d’exercice de l’autorité parentale, il prend notamment
          en considération : La pratique que les parents avaient précédemment
          suivie ou les accords qu’ils avaient pu antérieurement conclure, Les
          sentiments exprimés par l’enfant mineur dans les conditions prévues à
          l’article 388-1 du Code civil, L’aptitude de chacun des parents à
          assumer ses devoirs et respecter les droits de l’autre, Le résultat
          des expertises éventuellement effectuées tenant compte notamment de
          l’âge de l’enfant, Les renseignements qui ont été recueillis dans les
          éventuelles enquêtes et contre-enquêtes sociales prévues à l’article
          373-2-12 du Code civil, Les pressions ou violences à caractère
          physique ou psychologique exercées par l’un des parents sur la
          personne de l’autre. Le juge des affaires familiales a besoin dans
          nombre de dossiers de divorces et de séparations, d’informations
          objectives et actualisées sur l’environnement des enfants, afin de
          statuer sur l’autorité parentale, la fixation de la résidence alternée
          ou non, le droit de visite et d’hébergement classique, restreint ou
          élargi, le montant de la contribution à l’éducation et à l’entretien.
          Le juge aux affaires familiales est en effet de plus en plus confronté
          à des conflits parentaux complexes de nature différente. L’entretien
          avec les parties à l’audience et les pièces communiquées sont bien
          souvent insuffisants pour éclairer le JAF. Les différentes formes de
          parentalité, l’homoparentalité, l’immaturité parentale avec des
          parents adolescents, le déni de parentalité, le déni de paternité, le
          refus de l’enfant d’aller chez un parent, les aliénations parentales,
          les conflits culturels, les parents de bébé séparés, un parent
          expatrié, un parent étranger, la revendication d’un droit de visite
          d’un ascendant ou d’un tiers non parent, autant de situations ayant un
          impact direct sur la vie des enfants que le JAF doit analyser.
          L’article 373-2-12 du Code civil prévoit qu’avant toute décision
          fixant les modalités de l’exercice de l’autorité parentale du droit de
          visite ou confiant les enfants à un tiers, le juge peut donner mission
          à toute personne qualifiée d’effectuer une enquête sociale. Une liste
          des enquêteurs sociaux ayant vocation à être désignés en application
          des articles 1072, 1171 et 1221 du Code de procédure civile, est
          dressée tous les cinq ans dans le ressort de chaque Cour d’appel. Le
          décret n°2009-265 du 12 mars 2009 stipule que l’enquêteur social doit
          avoir moins de 70 ans, et avoir exercé pendant un temps suffisant une
          profession ou une activité, notamment dans le domaine social ou
          psychologique en relation avec l’objet des enquêtes sociales.
          L’article 1 al 3 du décret stipule aussi que le juge peut le cas
          échéant désigner toute autre personne qualifiée de son choix. Aucune
          précision n’est toutefois apportée sur la qualification. Il n’existe
          pas actuellement de diplôme d’Etat ou de diplôme spécialisé. Pourtant
          l’enquêteur social doit cumuler dans l’exercice de sa mission des
          connaissances juridiques, sociales et psychologiques. Le juge aux
          affaires familiales peut ordonner d’office une enquête sociale lors
          d’une audience de tentative de conciliation d’une procédure de
          divorce, lors d’une audience d’incident, lors d’un référé JAF, ou
          d’une requête JAF. Les parties peuvent solliciter aussi une enquête
          sociale. Le juge aux affaires familiales peut rejeter la demande des
          parties en motivant son refus. L’article 1072 du Code de procédure
          civile indique que l’enquête sociale porte sur la situation de la
          famille ainsi que sur, le cas échéant, les possibilités de réalisation
          du projet des parents ou de l’un d’eux quand aux modalités d’exercice
          de l’autorité parentale. Elle donne lieu à un rapport où sont
          consignées les constatations faites par l’enquêteur et les solutions
          proposées par lui. Le juge donne communication du rapport aux parties
          en leur fixant un délai dans lequel elles auront la faculté de
          demander un complément d’enquête ou une nouvelle enquête. Après le
          dépôt du rapport d’enquête sociale, les parties et leurs avocats sont
          convoqués à nouveau devant le juge aux affaires familiales. Comment
          est réalisée l’enquête sociale ? L’enquête sociale est réalisée selon
          un référentiel d’actes prévu par le décret n° 2009-285 du 13 janvier
          2011 et défini par l’ arrêté du 13 janvier 2011 du ministre de la
          justice. L’article 2 de l’arrêté du 13 janvier 2011 emploie le terme
          de trame. L’enquêteur social doit prendre l’initiative de recueillir
          tous les éléments visant à éclairer le juge. Il ne faut pas hésiter à
          compléter la trame jouant plus le rôle de guidelines. Le caractère
          intrusif de l’enquête sociale peut être mal supporté. L’enquêteur
          social doit expliquer les modalités du jugement avant-dire droit, de
          la mesure et de son intervention. Il doit maîtriser les situations
          d’entretien. Anticiper sur les résistances et les rétentions
          d’informations. L’enquêteur social doit réaliser deux entretiens avec
          chaque parent. Un entretien se déroule au domicile. Une difficulté se
          pose lorsqu’un parent habite hors du ressort du tribunal, à grande
          distance ou à l’étranger. Il faut en pratique missionner un autre
          intervenant. Se pose le problème de la méthodologie de l’enquête et de
          son unité sans parler des délais pendant lesquels la situation des
          parents et de l’enfant peuvent évoluer, rendant caduques certaines
          informations au moment du dépôt du rapport. La tâche de l’enquêteur
          est difficile si un des parents est détenu, hospitalisé ou ne parlant
          pas français. L’enquêteur social doit identifier la composition de la
          famille. Reconstituer le parcours familial et social voire judiciaire
          des parents. La nature de leurs activités professionnelles. S’ils
          travaillent à temps partiel, à temps complet, de jour ou de nuit. A
          quelle distance kilométrique de leur domicile. Leur disponibilité. Si
          les parents peuvent bénéficier d’une aide d’autrui pour les enfants.
          Il doit connaître les caractéristiques de leur logement. Les
          conditions d’accueil des enfants. La situation financière. Les
          ressources et les charges. Le justiciable a tout intérêt avec l’aide
          de son avocat à lister les pièces afin de faciliter l’enquête sociale.
          Certaines attestations, certaines main-courantes, certains dépôts de
          plainte, peuvent éclairer l’enquêteur social. L’enquêteur social et le
          dossier médical La trame précise que l’enquêteur social doit prendre
          contact avec les médecins et les thérapeutes. Cette prise de contact
          peut se faire par courrier, par questionnaire ou par téléphone. Mais
          on imagine mal un médecin violer le secret professionnel par téléphone
          sans pouvoir identifier la qualité exacte de son interlocuteur.
          Lorsqu’un des parents souffre d’une pathologie évoquée dans la
          procédure et susceptible d’avoir un impact sur ses droits, il est
          utile de transmettre certaines pièces à l’enquêteur social. Le dossier
          médical unique n’existe pas. Le justiciable devra faire les démarches
          suffisamment à temps auprès de chaque professionnel médical concerné
          pour la communication de son dossier. Concernant le dossier médical
          d’un mineur, peuvent consulter le dossier d’un patient mineur, le
          mineur lui-même et son représentant légal. Il incombe à ce dernier de
          transmettre à l’enquêteur social les informations médicales utiles. Si
          le mineur reçoit des soins à l’insu de ses parents, il peut s’opposer
          à ce que le médecin communique son dossier. [1] L’enquêteur social ne
          bénéficiera d’aucune information dans ce cas. Les pathologies
          psychiatriques, dépression, ou autres maladies, tentatives de suicide
          anciennes ou non, sont souvent des motifs de saisine du JAF. Par
          conséquent, le justiciable souhaitant communiquer à l’enquêteur
          social, des pièces médicales, démontrant une guérison, un état stable,
          une situation s’améliorant, une observance du traitement, un suivi
          spécifique, compatible avec la résidence d’un enfant ou avec un droit
          de visite et d’hébergement, doit respecter certaines règles pour
          récupérer son dossier médical. En psychiatrie, en cas
          d’hospitalisation d’office ou sur demande d’un tiers, le détenteur des
          informations peut estimer que la communication doit avoir lieu par
          l’intermédiaire d’un médecin. Dans ce cas, il en informe l’intéressé.
          Si le demandeur refuse de désigner un praticien, le détenteur des
          informations saisit la commission départementale des hospitalisations
          psychiatriques. Le demandeur peut également saisir cette commission de
          son côté. L’avis de celle-ci est notifié au demandeur et au détenteur
          des données. Il s’impose à eux conformément à l’article L.1111-7 du
          Code de la santé publique. Le concubin L’enquêteur doit rencontrer le
          concubin éventuel. Vérifier dans la mesure du possible son parcours et
          dresser un profil. Eventuellement rencontrer les enfants du concubin
          vivant au domicile commun et les enfants vivant au foyer de
          l’ex-concubin s’il bénéficie d’un droit de visite et d’hébergement en
          tant que tiers non parent, sur le fondement de l’article 371-4 du Code
          civil. L’audition des enfants reste la tâche la plus sensible et la
          plus complexe. L’audition de l’enfant par l’enquêteur social Le juge
          aux affaires familiales peut en effet décider d’auditionner l’enfant
          lui-même dans les conditions prévues à l’article 388-1 du Code civil
          mais aussi d’attribuer cette mission à l’enquêteur social. L’enquêteur
          social doit prendre contact avec les enseignants, la protection
          maternelle et infantile, les thérapeutes. L’enfant doit avoir la
          capacité de discernement. Aucun seuil d’âge n’est prévu par la loi.
          L’enfant est un enjeu pour beaucoup de parents. Il est fréquemment
          dans un conflit de loyauté. Dans une position d’arbitre.
          Potentiellement manipulable. Il faut amener l’enfant à parler de sa
          vie familiale, de son environnement. De ses copains. De ce qu’il aime,
          de ce qu’il n’aime pas. L’enquêteur social doit dire à l’enfant que
          ses déclarations peuvent ne pas être retranscrites ou seulement
          partiellement s’il le souhaite. Le climat de confiance est
          indispensable pour recueillir la parole de l’enfant. Concernant les
          adolescents, l’enquêteur social doit être à même de remarquer une
          conduite à risques potentiellement plus grande chez l’un ou l’autre
          des parents. L’enquêteur social et le juge des enfants Le juge des
          enfants est parfois amené à prendre certaines mesures de protection
          d’un mineur concerné par une enquête sociale. La communication des
          pièces n’est pas des plus aisées. L’article 1187-1 du Code de
          procédure civile dit en effet que le juge des enfants communique au
          juge aux affaires familiales ou au juge des tutelles, les pièces
          qu’ils sollicitent quand les parties à la procédure devant ces
          derniers ont qualité pour consulter le dossier. Le juge des enfants
          peut ne pas transmettre certaines pièces lorsque leur production
          ferait courir un danger physique ou moral grave au mineur, à une
          partie ou à un tiers. Conformément aux articles 1072-2 et 1321-2 du
          Code de procédure civile, le juge aux affaires familiales ou le juge
          des tutelles transmettent copie de leur décision au juge des enfants
          ainsi que de toute pièce que ce dernier estime utile. Le juge des
          enfants a donc un pouvoir d’appréciation dans la communication des
          pièces au juge aux affaires familiales alors que ce dernier doit
          communiquer l’intégralité de son dossier au juge des enfants.
          L’enquêteur social doit pouvoir se repérer dans les procédures
          parallèles devant le juge aux affaires familiales et le juge des
          enfants. Il doit être informé d’une procédure devant le juge des
          enfants. Le juge aux affaires familiales doit l’orienter et faire le
          point avec lui à chaque fois qu’il le demande même si les emplois du
          temps sont surchargés. L’objectif est que l’enquêteur social bénéficie
          de toutes les informations nécessaires pour faire des propositions au
          juge aux affaires familiales. L’enquête sociale dans la cause du
          divorce L’article 373-2-12 du code civil interdit d’utiliser l’enquête
          sociale dans la cause du divorce alors que les conclusions d’une
          expertise médico-psychologiques peuvent être utilisées au titre des
          causes de divorce en tant que griefs ou autres. Le secret
          professionnel L’enquêteur social, indépendant, objectif, est tenu en
          outre au secret professionnel conformément à l’article 226-13 du code
          pénal. Le coût d’une enquête sociale Les décrets n°2009-285 du 12 mars
          2009 et n°2013-770 du 26 août 2013 fixent les tarifications des
          enquêtes sociales. La rémunération des enquêteurs sociale est très
          disproportionnée par rapport à ce qu’on exige d’eux. D’où les
          difficultés de les recruter et de les conserver. La demande de
          contre-enquête ou d’une nouvelle enquête L’article 373-2-12 du Code
          Civil permet à une partie de solliciter une contre-enquête ou une
          nouvelle enquête. Mais le juge n’est pas tenu d’y faire droit. Il faut
          motiver la demande de contre-enquête et de nouvelle enquête. Il faut
          prouver par exemple que l’avis de certaines personnes aurait dû être
          sollicité. Ou apporter la preuve d’une mauvaise appréciation de
          certains éléments. Ou bien des évolutions très importantes de la
          situation rendant caduques les propositions de l’enquêteur social. Ou
          bien des confusions dans les états-civils et des erreurs de rédaction.
          Ou bien un parti pris et une absence d’objectivité. L’enquêteur social
          peut être récusé dès sa nomination si son professionnalisme est
          défaillant. L’article 276 du Code de Procédure Civile dit que l’expert
          doit prendre en considération les observations ou réclamations des
          parties et lorsqu’elles sont écrites, les joindre à son avis si les
          parties le demandent. Certains enquêteurs sociaux adressent aux
          parties un pré-rapport, permettant d’affiner certains points. Quand
          les parties considèrent qu’elles ont été entendues, et que leurs
          observations ont été prises en considération, le rapport d’enquête
          sociale est beaucoup mieux appréhendé et accepté. Les demandes de
          contre-enquête et de nouvelle enquête sont alors peu fréquentes. Le
          rapport d’enquête sociale est une étape primordiale dans une
          procédure. L’enquêteur social doit analyser la problématique du
          dossier. Confronter la position de chaque parent. Le juge attend ses
          propositions. Mais le magistrat n’est pas lié. Il peut ne pas suivre
          les conclusions de l’enquêteur social, parfois trop prudentes ou peu
          motivées. L’audition de l’enfant dans le cadre du nouveau divorce par
          consentement mutuel. La loi du 18 novembre 2016 de modernisation de la
          justice du XXI ème siècle a créé l’article 229-1 du code civil,
          instituant le divorce par consentement mutuel par acte sous-signature
          privée contresigné par avocats, déposé au rand de minutes d’un
          notaire. On se rapportera à la loi et à sa circulaire d’application du
          26 janvier 2017 pour bien comprendre les subtilités de cette nouvelle
          procédure. Retenons que dans ce texte, le juge aux affaires familiales
          n’intervient plus. Il n’a plus le pouvoir d’homologation de la
          convention de divorce. Il ne contrôle plus l’équilibre des clauses et
          ne pourra plus exiger une modification. Chose courante que tous les
          praticiens redoutaient, le juge ajournait l’audience et sollicitait
          une nouvelle convention lorsque le respect des droits des enfants ou
          de l’un ou l’autre conjoint ne lui semblait pas conforme à la loi.
          Dorénavant, les avocats sont en première ligne. Les époux ne vont plus
          au tribunal mais chez un notaire, accompagné chacun par leur propre
          avocat. Les deux avocats préparent les conventions de divorce qu’ils
          déposent au rang des minutes du notaire. L’article 229-2 du code civil
          précise « que les époux ne peuvent consentir mutuellement à leur
          divorce par acte sous signature privée contresigné par avocats lorsque
          le mineur, informé par ses parents de son droit à être entendu par le
          juge dans les conditions prévues à l’article 388-1, demande son
          audition par le juge ». La circulaire précise à son tour que « sont
          également exclus de cette forme de divorce les époux dont l’un au
          moins des enfants mineurs, concerné par les conséquences du divorce
          telles qu’envisagées par ses parents, demande à être entendu par le
          juge dans les conditions du nouvel article 1148-2 alinéa 1 du code de
          procédure civile ». Rappelons l’article 3.1 de la Convention
          Internationale des Droits de l’Enfant du 20 novembre 1989 : « Dans
          toutes les décisions qui concernent les enfants, qu’elles soient le
          fait des institutions publiques ou privées de protection sociale, des
          tribunaux, des autorités administratives ou des organes législatifs,
          l’intérêt supérieur de l’enfant doit être une considération
          primordiale ». L’article 388-1 du code civil, reproduit en fin
          d’article, dit que le mineur peut être entendu par le juge ou, lorsque
          son intérêt le commande, par la personne désignée par le juge à cet
          effet. Il peut donc s’agir d’un enquêteur social dont on a vu plus
          haut les modalités d’intervention et les prérogatives. La précision
          que le mineur a bien été informé : L’article 229-3 du code civil
          énonce les mentions obligatoires de la convention ainsi que ses
          annexes, à peine de nullité de la convention. Il faut indiquer que le
          mineur a été informé par ses parents de son droit à être entendu par
          le juge dans les conditions prévues à l’article 388-1 du code civil et
          qu’il ne souhaite pas faire usage de cette faculté. Les conséquences
          procédurales d’une demande d’audition par un enfant : « En cas de
          demande d’audition, la procédure de divorce par consentement mutuel
          prévue à l’article 229-1 du code civil est fermée aux époux. Ils
          peuvent saisir le juge conformément aux articles 1088 à 1092 du code
          de procédure civile ». Aucun âge minimum pour l’information de
          l’enfant : « Le choix a été fait de ne pas fixer d’âge minimum pour
          l’information de l’enfant mineur dans le cadre de cette procédure à
          l’instar de ce qui existe pour les autres procédures le concernant ».
          Une appréciation personnelle du discernement : « Le discernement devra
          donc faire l’objet d’une appréciation personnelle de la part des
          parents, prenant en compte plusieurs critères, à savoir, l’âge, la
          maturité et le degré de compréhension de leur enfant au regard de
          l’objectif d’information de ce formulaire ». Rappelons l’article 27-2
          de la Convention Internationale des Droits de l’Enfant parmi beaucoup
          d’autres textes : « C’est aux parents ou autres personnes ayant la
          charge de l’enfant qu’incombe au premier chef la responsabilité
          d’assurer, dans les limites de leurs possibilités et de leurs moyens
          financiers, les conditions de vie nécessaires au développement de
          l’enfant ». Et si l’enfant n’a pas de discernement ? L’article 1144-2
          du code de procédure civile précise « que la convention doit
          mentionner, le cas échéant, que le mineur n’a pas reçu l’information
          relative à son droit d’être entendu par un juge en raison de son
          absence de discernement. » La circulaire dit ce que les vérifications
          formelles du notaire devant procéder au dépôt seront facilitées. Le
          notaire est donc chargé des vérifications formelles. Le formulaire
          informant le mineur de son droit à être entendu : La circulaire
          explique « qu’en vertu de l’article 1144 du code de procédure civile,
          l’information prévue à l’article 229-2 du code civil est délivrée au
          moyen d’un formulaire dont le modèle est fixé par l’arrêté du 28
          décembre 2016 à destination de chaque enfant mineur commun, dans les
          conditions de l’article 388-1 du code civil, c’est-à-dire capable de
          discernement ». Le formulaire d’information a un double objectif :
          donner aux enfants les informations pratiques pour assurer l’exercice
          effectif de leur droit et permettre aux avocats ainsi qu’au notaire de
          vérifier l’effectivité de la mention prévue à l’article 229-3-6° du
          code civil. Le formulaire d’information daté et signé par l’enfant :
          La circulaire précise que « le formulaire d’information doit être daté
          et signé par l’enfant. Outre ces mentions, l’enfant complète le
          formulaire en cochant une case, afin d’indiquer s’il souhaite, ou non,
          être entendu par le juge. Les informations relatives à son identité
          peuvent être remplies par l’enfant lui-même ou par ses parents » (voir
          le formulaire reproduit dans la note ci-après : [2]). La circulaire
          expose deux hypothèses pour l’enfant capable de discernement : « soit
          il sait lire et le formulaire complète alors l’information dispensée
          par les parents. soit il ne sait pas lire et il revient alors à ses
          parents de le lui lire et de lui expliquer les mentions en termes
          compréhensibles, en fonction de sa maturité ». La force probante de la
          signature du mineur : La circulaire indique que « la signature du
          mineur, qui n’est pas prévue à peine de nullité et dont la valeur est
          analogue à celle apposée sur les règlements scolaires par exemple,
          n’aura pas de force probante quant à la capacité de discernement de ce
          dernier, de sorte que cet élément reste, dans ce nouveau dispositif,
          soumis à l’appréciation du seul juge en cas de demande d’audition. »
          Pas de formulaire rempli en l’absence de discernement de l’enfant : La
          circulaire indique qu’en « l’absence de discernement, aucun formulaire
          ne sera remis à l’enfant. L’article 1144-2 du code de procédure civile
          impose aux parents de mentionner dans la convention que l’information
          prévue au 1° de l’article 229 du code civil n’a pas été donnée en
          l’absence de discernement de l’enfant mineur concerné. » Si l’enfant
          est incapable de signer physiquement : La circulaire indique qu’en «
          ce qui concerne le cas particulier des mineurs dotés de discernement
          mais incapables physiquement de signer le formulaire, les deux parents
          signeront le formulaire en précisant que leur enfant est dans
          l’incapacité physique de le faire ». La mission de l’avocat : La
          circulaire précise qu’il « appartient à l’avocat de s’assurer que
          l’ensemble des formulaires d’information destinés aux enfants mineurs
          capables de discernement sont annexés à la convention lors de la
          transmission au notaire, ce dernier ne pouvant procéder à ce dépôt, ne
          serait-ce qu’en l’absence d’un seul formulaire dans le cas d’une
          fratrie ». Questions : Ne lui incombe-t-il pas même si la circulaire
          ne le rappelle pas expressément, de vérifier le discernement de
          l’enfant ? Aura-t-il assez d’objectivité ? Eviter les pressions sur
          les enfants : La circulaire précise « qu’afin d’éviter toute pression
          sur l’enfant qui demande à être entendu, la procédure prévue par
          l’article 229-1 du code civil n’est plus possible dès que cette
          demande est faite dans les conditions de l’article 1148-2 du code de
          procédure civile, ce qui inclut l’hypothèse où l’enfant reviendrait
          ensuite sur son souhait d’être entendu pour y renoncer ». A quel
          moment peut être faite la demande d’audition ? La circulaire précise
          que « la demande d’audition du mineur peut être formée à tout moment
          de la procédure jusqu’au dépôt de la convention de divorce au rang des
          minutes d’un notaire ». Conclusion. Une procédure devant le JAF n’est
          pas des plus simples et en aucun cas stéréotypée. Chaque affaire, dont
          la spécificité peut nécessiter une enquête sociale, est unique et doit
          être traitée ainsi. L’’enquête sociale, si elle est bien faite, reste
          un excellent moyen d’explorer l’environnement de l’enfant. Les
          compétences humaines des professionnels sont aussi importantes que les
          compétences juridiques. Précisons aussi que l’enquête sociale peut
          être doublée d’une enquête médico-psychologique, voire psychiatrique,
          dans les dossiers complexes, évolutifs, exigeant un suivi. Le droit de
          la famille et des enfants évoluera encore. La nouvelle loi sur le
          divorce venant d’être adoptée, nous ne savons pas si les juges aux
          affaires familiales privilégieront les enquêtes sociales suite aux
          demandes d’audition des enfants. Tout dépendra du contexte humain et
          juridique. Quelle raison peut en effet pousser un enfant à « stopper »
          la procédure de divorce par consentement mutuel sinon un événement
          impactant gravement sa vie actuelle ou future ? Le juge aux affaires
          familiales pourrait constater que les divorces par consentement mutuel
          sont bien moins consensuels qu’on ne le dit. Compte tenu aussi du
          droit international de l’enfant, un troisième personnage pourrait
          faire son entrée dans la nouvelle procédure de divorce : l’avocat de
          l’enfant. La parole de l’enfant, doté du discernement, serait «
          recueillie » autrement que dans une case d’un formulaire rempli la
          plupart du temps par les parents. L’intérêt supérieur de l’enfant doit
          en effet rester la priorité absolue de toute réforme du droit de la
          famille. De nombreux progrès sont à faire, comme par exemple, redonner
          à la Défenseure des enfants, son statut d’autorité indépendante perdue
          en 2011. Une piste parmi beaucoup d’autres, car le travail ne manque
          pas… Bibliographie indicative : Article 388-1 du code civil : Dans
          toute procédure le concernant, le mineur capable de discernement peut,
          sans préjudice des dispositions prévoyant son intervention ou son
          consentement, être entendu par le juge ou, lorsque son intérêt le
          commande, par la personne désignée par le juge à cet effet. Cette
          audition est de droit lorsque le mineur en fait la demande. Lorsque le
          mineur refuse d’être entendu, le juge apprécie le bien-fondé de ce
          refus. Il peut être entendu seul, avec un avocat ou une personne de
          son choix. Si ce choix n’apparaît pas conforme à l’intérêt du mineur,
          le juge peut procéder à la désignation d’une autre personne.
          L’audition du mineur ne lui confère pas la qualité de partie à la
          procédure. Le juge s’assure que le mineur a été informé de son droit à
          être entendu et à être assisté par un avocat. Article 1148-2 du code
          de procédure civile Dès qu’un enfant mineur manifeste son souhait
          d’être entendu par le juge dans les conditions prévues à l’article
          388-1du code civil, la juridiction peut être saisie selon les
          modalités prévues aux articles 1088 à 1092. Les époux peuvent
          également, jusqu’au dépôt de la convention de divorce au rang des
          minutes d’un notaire, saisir la juridiction d’une demande de
          séparation de corps ou de divorce judiciaire dans les conditions
          prévues aux articles 1106 et 1107. Loi n°2016-1547 du 18 novembre 2016
          de modernisation de la justice du XXI ème siècle ; Décret n°2016-1907
          du 28 décembre 2016 relatif au divorce prévu à l’article 229-1 du code
          civil et à diverses dispositions en matière successorale ; Arrêté du
          28 décembre 2016 fixant le modèle de l’information délivrée aux
          enfants mineurs capables de discernement dans le cadre d’une procédure
          de divorce par consentement mutuel par acte sous signature privée
          contresigné par avocats, déposé au rang des minutes d’un notaire ;
          Circulaire d’application de la loi du 18 novembre 2016 du 26 janvier
          2017 ; Décret n°2009-285 du 12 mars 2009 relatif aux enquêteurs
          sociaux et à la tarification des enquêtes sociales en matière civile ;
          Décret n°2011-54 du 13 janvier 2011 modifiant le décret n°2009-265 du
          12 mars 2009 relatif aux enquêteurs sociaux et à la tarification des
          enquêtes sociales en matière civile ; Arrêté du 13 janvier 2011
          définissant le référentiel des diligences à accomplir en matière
          d’enquête sociale ordonnée par le juge aux affaires familiales ;
          Décret n°2013-770 du 26 août 2013 relatif aux frais de justice.
        </p>
      </a>
    </div>
  </body>
</html>
