<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/css/accueil.css" />
    <link rel="stylesheet" href="/css/intro.css" />
    <link rel="stylesheet" href="/fontawesome/css/all.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=subtitle%></title>
  </head>
  <body>
    <%- include('./includes/navbar.ejs')%>

    <p class="intro">
      Dans notre société, c’est au sein de l’institution familiale que sont
      définies la parenté et la filiation, la famille étant fondée jusqu’à
      maintenant sur le mariage, même si cette liaison mariage/famille est moins
      prégnante, alors que depuis la fin du XVIIIe siècle l’amour est considéré
      comme la forme légitime de l’union entre un homme et une femme. Dans Les
      Structures élémentaires de la parenté, Claude Lévi-Strauss affirme que
      l’apparition de la culture, en tant que processus de maîtrise de la
      nature, se manifeste par la prohibition de l’inceste et l’échange des
      femmes, procédure sociale et économique et non démarche amoureuse. Il a
      fallu effectivement attendre le XIXe siècle pour que se généralise en
      Europe la famille conjugale et non tribale, assortie de sentiments
      amoureux, dans le contexte du déclin de l’aristocratie et du développement
      de la bourgeoisie. Les changements économiques, sociaux et démographiques
      de la seconde moitié du XXe siècle ont bouleversé le schéma de la famille
      dite « classique », fondée sur le mariage de parents vivant ensemble avec
      leurs enfants. Ces nouveautés sont de deux ordres : Les évolutions
      sociologiques de la famille : on passe de la famille traditionnelle à la
      famille relationnelle, investie d’un rôle de socialisation
      (démocratisation de la famille, autonomisation de la famille et des
      femmes, contrôle de la sexualité et de la conception). Les transformations
      conjugales et parentales de la famille : apparaissent les notions de
      pluri-parentalité, de famille monoparentale, concubine, recomposée,
      adoptive, d’accueil ou encore homoparentale, avec toutes les
      problématiques de parenté et de filiation que ces nouveaux modèles
      engendrent. La famille accompagne les phénomènes sociaux plus qu’elle ne
      les subit. Ces changements sociétaux radicaux ont eu lieu à partir de la
      seconde moitié du XXe siècle. D’ordre économique (hausse du chômage et de
      la précarité), social (émancipation des femmes et prise en compte des
      droits des enfants) et démographique (baisse de la fécondité, hausse des
      séparations et des divorces, allongement de la durée de la vie et hausse
      du revenu des grands-parents), ils ont bouleversé le schéma de la famille
      dite « classique » des années 1930, stable et fondée sur le mariage. Ils
      ont à la fois produit et accompagné une multiplication et une
      diversification des configurations familiales en regard d’une institution
      fondée sur le mariage de parents vivant ensemble avec leurs enfants
      (modèle nucléaire). Ce phénomène a pu conduire certains observateurs à
      parler de « crise de la famille »... L’Espace de rencontre est un lieu
      tiers, neutre et transitoire qui permet aux parents et à leurs enfants
      d’établir, de reprendre ou de maintenir des relations lorsque l’exercice
      des droits de visite est interrompu ou rendu difficile dans un contexte de
      séparation ou de conflit.
    </p>
    <img src="" alt="" srcset="" style="margin: auto; display: table" />
  </body>
</html>
