.content{
    max-width: 1000px;
}

body{
    overflow: hidden;
    background: #dde1e7 !important;
}

.center{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.space{
    margin-top: 10px;
}

.success{
    display: flex;
    justify-content: center;
    margin-top: 25%;
}

.alert{
    z-index: 2 !important;
}